svg {
  background: white;
}

svg path {
  stroke: black;
  fill: none;
}

.t1 {
  stroke: black;
}

.t2 {
  stroke: red;
}

.t3 {
  stroke: green;
}

.t4 {
  stroke: cyan;
}

.axis line,
.data_rectangle
{
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
